*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

body,
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #EAECEE  ;
    min-height: 100vh;
    padding-block: 50px;
    font-family: 'Poppins', sans-serif;
}

section{
    background-color: #EAECEE ;
    width: min(400px, 90%);
}

.Neumorphism{
    border-radius: 25px;
    box-shadow: 10px 10px 20px 0 #cccccc, 
    -10px -10px 20px 0 rgb(255, 255, 255);
}

.logo{
    margin-top: 30px;
    padding: 20px;
}

form{
    padding-inline: 30px;
    padding-top: 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

label{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

input{
    border: 2px solid #fff; 
    border-radius: 15px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fa-user-cog,
.fa-user-alt{
    color: #FA8072  ;
    font-size: clamp(60px, 10vw, 80px);
}

.fa-check-circle,
.fa-exclamation-circle{
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

button{
    background-color: #FA8072 ;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    padding: 10px;
    display: block;
    width: 100%;
    color: #F7F9F9;
}

label{ 
    color: #1C2833  ;
}

.success input{
    border-color: #2ECC71 ;
}

.success .fa-check-circle,
.success small,
.success label{
    color: #2ECC71;
    visibility: visible;
}

.error input{
    border-color: #e74c3c;
}

.error .fa-exclamation-circle,
.error small,
.error label{
    color: #e74c3c;
    visibility: visible;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #1C2833;
}
